<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a href="http://garyravago.getforge.io">Gary</a>.  A guy known at his job as the 'Macro Man' who found a way to rekindle his dormant coding powers and seek out opportunities to make an impact.
  </p>
  <br />
  <p>
    He enjoys helping his co-workers out by making their lives a little easier through his creative coding skills.
  </p>
  <br />

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'gary_tie.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Gary Ravago</h2>
      <br />
      <p>
        Gary resides in the city of Santa Cruz where he graduated from UC Santa Cruz with a BA in Film and Digital Media. Previously he served in the United States Navy as a Information Systems Technician and currently is working in the IT field.
      </p>
      <br />
      <p>
        His future goals are to change careers from IT into software development, join a competitive salsa team, and learn to speak Spanish fluently.
      </p>
    </div>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />