@font-face {
    font-family: 'kuro-regular';
    src: font_url('kuro-regular-webfont.woff2') format('woff2'),
         font_url('kuro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}